:root{
  --dark-color: #A0A0A0;
  --mid-color: #D0D0D0;
  --neutral-color: #DEDEDE;
  --link-color: black;
}


@-ms-viewport{
  width: device-width;
}

@-webkit-keyframes anim-collapse {
  to{ opacity: 0; }
}

@-webkit-keyframes anim-collapse
@keyframes anim-collapse {
  to{ opacity: 0; }
}

@-webkit-keyframes anim-expand {
  to{ opacity: 1; }
}

@keyframes anim-expand {
  to{ opacity: 1; }
}

@-webkit-keyframes anim-fade-in {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

@keyframes anim-fade-in {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

@-webkit-keyframes anim-fade-out {
  from{ opacity: 1; }
  to{ opacity: 0; }
}

@keyframes anim-fade-out {
  from{ opacity: 1; }
  to{ opacity: 0; }
}

@-webkit-keyframes anim-move-up {
  from{}
  to{
      -webkit-transform: translateY(0);
      opacity: 1;
  }
}

@keyframes anim-move-up {
  from{}
  to{
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes anim-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.6) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes anim-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.6);
    -webkit-transform: scaleY(0.6);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

a{
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

a.text_link {
  font-weight: bold;
  text-decoration: underline;
}

body{
  border: 0px;
  font-family: Roboto,sans-serif;
  margin: 0px;
  padding: 0px;
}

div{}

img{
  border: 0px;
  color: var(--neutral-color);
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

span{
  text-transform: uppercase;
}

svg{
  pointer-events: none;
}

.anim_fade_in{
  -webkit-animation: anim-fade-in 0.6s ease forwards;
  animation: anim-fade-in 0.6s ease forwards;  
}

.anim_fade_out{
  -webkit-animation: anim-fade-out 0.6s ease forwards;
  animation: anim-fade-out 0.6s ease forwards;  
}

.app_background{
  position: fixed;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 80%;
  min-height: 100%;
  top: 0px;
  width: 100%;
  z-index: -10;
}

.app_header{
  height: 50px;
  text-align: center;
}

.app_header > .app_title{
  position: relative;
  top: 15px;
}

.app_login{
  display: inline-block;
  float: right;
  font-size: 20px;
  margin: 6px 8px 0 0;
}

.app_login > .app_nav_link{
  margin: 9px 5px 0 5px;
}

.app_login > .user_profile_img,
#user_panel_toggle > .user_profile_img{
  border-radius: 19px;
  height: 38px;
  width: 38px;
}

.app_menu{
  background: url(/static/icons/svg/hamburger.svg) no-repeat;
  background-position: center center;
  background-size: auto 48px;
  background-repeat: no-repeat;

  margin: 0 0 0 5px;

  height: 48px;
  width: 48px;
}

.app_nav_link.right{
  margin-right: 10px;
}

.app_nav_link.left{
  margin-left: 10px;
}

.app_nav{
  margin: 5px 0 10px 0;
}

.app_nav_link{
  color: var(--link-color);
  float: left;
  font-family: Rubik,sans-serif;
  font-size: 16px;
  margin: 18px 10px 0 0;
}

.app_page{
  height: 100%;
  margin: 10px 0 0 0;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#app_panel_blocker{
  position: absolute;
  opacity: 0.2;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 101;
}

#app_panel_overlay{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#app_panel_overlay > .button_close{
  font-size: 40px;
  z-index: 110;
}

#app_panel_overlay_main{
  background-color: white;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 102;
}

.app_search{
  margin: 20px 30px 10px 30px;
}

.app_search > .cap_button{
  position: absolute;
  right: 65px;
  top: 0px;

  display: inline-block;
  font-size: 14px;
  margin: 6px;
}
.app_search > .cap_button::after {
  content: " ✖";
}

.app_search > .search_field{
  position: relative;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.app_search > input{
  border: 0px;
}

.app_search > input:focus{
  outline-width: 0;
}

.app_search > .search_field::placeholder{
  color: var(--mid-color);
}
.app_search > .search_field:-ms-input-placeholder{
  color: var(--mid-color);
}
.app_search > .search_field::-ms-input-placeholder{
  color: var(--mid-color);
}

.app_search > .icon.search{
  background-color: transparent;
  background-position: center center;
  background-size: auto 20px;
  background-repeat: no-repeat;

  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 30px;
/*  color: black;
  fill: black;*/
  width: 38px;
  height: 38px;
  border-radius: 19px;
  margin: 1px;
  z-index: 5;
}
/*.app_search > .icon.search > svg {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}

.app_search > .icon.search:hover{
  background-color: black;
  color: white;
  fill: white;
  transition: 0.3s;
}*/

.app_section{
  text-align: center;
}

.app_section > .title{
  color: black;
  margin: 0 0 10px 0;
}

.app_title{
  color: var(--link-color);
  font-family: Rubik,sans-serif;
  text-decoration: none;
}

.divider{
  border-top: 1px solid var(--mid-color);
  margin: 20px 40px 20px 40px;
}
.splitter{
  display: inline-block;
  padding: 0 10px 0 10px;
}
.splitter::after{
  content: "|";
}

.widescreen_only{
  display: inherit;
}

.smallscreen_only{
  display: none;
}

.shadow{
  -webkit-filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.9));
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.9));
}

.box_outline{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.box_outline_light{
  border: 1px solid white;
}

.button_close{
  color: var(--link-color);
  cursor: pointer;
  font-size: 20px;
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.button_back{
  background-color: white;
  border: 1px solid white;
  border-radius: 19px;
  cursor: pointer;
  color: white;
  fill: white;
  margin-top: -5px;
  height:  38px;
  width: 38px;
  z-index: 5;
}
.button_back > svg{
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 5px;
}
.button_back:hover{
  background-color: black;
  transition: 0.3s;
}
.button_back:hover > svg{
  color: white;
  fill: white;
  transition: 0.3s;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat; 
}

.app_search > .button_back{
  position: absolute;
  fill: black;
  z-index: 5;
  top:  5px;
}

.cap_button{
  border: 1px solid var(--link-color);
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  padding: 5px 8px 5px 8px;
  text-align: center;
}

.cap_button.selected{
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: white;
}

.cap_button.highlighted,
.cap_button.selected.highlighted{
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: white;
}

.cap_button.cap_group.selected{
  background-color: var(--dark-color);
  border-color: var(--dark-color);  
  color: white;
  fill: white;
}
.cap_button.cap_group.highlighted{
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: white; 
  fill: white;
}

.cap_button:hover{
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: white;
  fill: white;
  transition: 0.3s;
}

.cap_button.cap_close{
  background-color: var(--link-color);
  color: white;
  fill: white;
  padding-left: 10px;
  padding-right: 10px;
}

.cap_group::after { 
  content: " ▼";
}

.clearfix {
  display: inline-block;
}

.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.empty{  
  color: black;
  font-size: 40px;
  height: 100%;
  margin: 50px 0 0 0;
  text-align: center;
  width: 100%;
}

.empty > .emoji{
  font-size: 40px;
}

.event_container{
  pointer-events: none;
}

.event{
  position: relative;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

.event_users.card{
  position: absolute;
  top: 10px;
  right: 5px;
  -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.9));
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.9));
  z-index: 3;
}

.event_users.page {
  margin: 10px 0 10px 0;
}

.event_users.page > .event_users_counter{
  border: 1px solid black;
}

.event_users > .event_users_counter{
  float: left;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  padding: 4px 6px 4px 6px;
  margin: 2px 3px 2px 3px;
}

.user_img{
  border-radius: 18px;
  width: 36px;
  height: 36px;
}


.event_users > .event_users_counter > .icon.user{
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: white;
}

.event_users > .event_user_img{
  float: left;
  display: inline-block;
  margin: 2px 3px 2px 3px;
}

.event_users_counter > .event_users_count{
  display: inline-block;
}

.event_user_icon{
  cursor: pointer;
  text-decoration: none;
}

.event_accolades{
  color: black;
  margin: 5px;
}

.accolade_icon{
  background-position: center center;
  background-size: auto 48px;
  background-repeat: no-repeat;

  height: 48px;
  width: 48px;
}

.event_container > .event_accolades > .accolade {
  color: white;
  fill: white;
  width: 130px;
  height: 125px;
  vertical-align: top;
  margin: 10px 5px 0 5px;
  -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.9));
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.9));
}

.event_container > .event_accolades > .accolade > .accolade_icon {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 28px;
}

.event_container > .event_accolades > .accolade > .accolade_name {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 5px 2px 5px;
}

.event_card > .event_header > .event_accolades{
  position: absolute;
  top: 5px;
  left:  5px;
  z-index: 3;
}

.event_header > .event_accolades > .accolade > .accolade_icon{
  color: white;
  fill: white;
  -webkit-filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.5));
}

.event.event_page{
  position: absolute;
  top: 300px;
  background-color: white;
  border-radius: 10px;
  margin: 10px 10px 20px 10px;
  min-width: 600px;
  max-width: 39%;
  padding-right: 10px;
  text-align: left;
}

.event_page > .event_img_wrapper {
  position: relative;
  float: left;
  margin-right: 10px;
  min-height: 100px;
  min-width: 10px;
}

.event_page > .event_img_wrapper > .icon.photos {
  pointer-events:  auto;
  position: absolute;
  bottom: 15px;
  right: 5px;
  background-color: white;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 19px;
  z-index: 2;
}

.event_page > .event_img_wrapper > .icon.photos:hover{
  background-color: black;
  color: white;
  fill: white;
}

.event_page > .event_img_wrapper > .icon.photos > svg {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}

.event_page > .event_img_wrapper > .event_img{
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  max-height: 150px;
  max-width: 200px;
  margin: auto 0 5px auto;
  object-fit: contain;
  width: auto;
}

.event_page > .event_img{
  margin-top: 30px;
}

.event_page_map{
  float: right;
}

.event_name{
  text-transform: uppercase;
}

.event_address{
  font-size: 11px;
  margin: 5px 0 0px 0;
  text-align: center;
}

.event_body{
  pointer-events: auto;
  padding: 0 10px 5px 10px;
  margin-top: 5px;
}

.event_card{
  background-color: white;
  border-radius: 10px;
  margin: 0 10px 30px 10px;
  text-align: center;
  width: 300px;
}

.event_card > .event_header > .event_title > .event_name{
  font-size: 20px;
  margin: 5px 5px 8px 5px;
}

.event_choice{
  margin: 0 4px 0 4px;
  text-align: center;
}

.event_choices{
  margin: 15px 0 20px 0;
  text-align: center;
}

.event_chips{
  cursor: grab;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0px;
}

.event_chips > .cap_button{
  border-color: var(--link-color);
  color: var(--link-color);
  margin: 5px 2px 5px 2px;
}

.event_chips > .highlighted{
  border-color: var(--dark-color);
}

.event_chips > .selected{
  border-color: var(--link-color);
}

.event_chips > .cap_button:hover{
  border-color: var(--mid-color);
  color: white;
}

.event_chips > .cap_button.selected{
  border-color: var(--mid-color);
  color: white;
}

.event_chips > .cap_button.selected::after { 
  content: " ✖";
}
.event_chips > .cap_button.cap_group.selected::after { 
  content: " ▼";
}

.event_chips > .cap_button.cap_group.highlighted::after,
.event_chips > .cap_button.cap_group.selected.highlighted::after {
  content: " ▲";
}

.event_info > .body > div{
  font-size: 12px;
  /*margin: 15px auto 15px auto;*/
  margin: 10px 15px 10px 15px;
}

.event_section.event_info > .body {
  margin:  0px;
}

.event_info > .body > div > .icon{
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

.event_info > .body > div > .icon > svg{
  width: 18px;
  height: 18px;
}

.event_info > .body > div > .text_link {
  font-weight: normal;
}

.event_collapse{
  -webkit-animation: anim-collapse 0.2s ease forwards;
}

.event_expand{
  -webkit-animation: anim-expand 0.2s ease forwards; 
}

.event_date{
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: default;
  display: inline-block;
  height: 40px;
  margin: 10px 0 5px 0;
  pointer-events: none;
  text-align: center;
  width: 30px;
}

.event_dates{
  text-align: center;
}

.event_date .event_day{
  font-size: 14px;
}

.event_date .event_month{
  font-size: 9px;
  margin: 5px 0 2px 0;
}

.event_date_weekend{
  background-color: black;
  border-color: black;
  color: white;
}

.event_section {
  font-size: 13px;
  width: 100%;
  text-align: left;
  text-transform: none;
}

.event_section.no_title > .body{
  min-height: 60px;
  margin-bottom: 0px;
}

.event_section > .title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-top:10px;
  margin-bottom: 10px;
}

.event_section > .body {
  text-align: justify;
  margin-bottom: 10px;
}

.event_section.event_links_section{
  text-align: left;
}

.event_section > .body > a {
  float: left;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-right: 5px;
}

.event_section > .body > p > a{
  color: var(--dark-color);
  margin-left: 7px;
}

.event_section > .divider {
  text-align: center;
  margin-top: 10px;
  margin-left: 150px; margin-right: 150px;
  margin-bottom: 0px;
}

.event_section > .expander {
  cursor: pointer;
  background-color: white;
  background-position: center;
  color: black;
  fill: black;
  height: 20px;
  width: 120px;
  border: 1px solid var(--neutral-color);
  border-radius: 10px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.event_section > .expander:hover{
  background-color: black;
  color: white;
  fill: white;
}

.event_section > .expander > svg{
  height: 18px;
  transition: 0.2s;
}


.event_section.collapsed {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event_section.collapsed > .divider{
  margin-top: 12px;
}

.event_section.collapsed > .title {
  margin: 5px 0 5px 0;
}
.event_section.collapsed > .body {
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  height: 25px;
}

.event_section.collapsed > .expander {
  background-color: var(--neutral-color);
  color: black;
  fill: black;
  margin-top: -55px;
}

.event_section.collapsed > .expander > svg{
  transform: rotate(180deg);
  transition: 0.3s;
}

.event_section.event_links_section{
  margin-top: 5px;
}

.event_header{
  color: black;
  pointer-events: auto
}

.event_img{
  background-color: var(--neutral-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.event_img_wrapper{
  min-height: 20px;
}

.entity_list {
  border: 0px;
  list-style: none;
  margin: 20px auto;
  padding: 0px;
}

.entity_list li {
  display: inline-block;
  max-width: 100%;
  opacity: 0;
}

.entity_list li.shown,
.entity_list .no-js li,
.entity_list .no-cssanimations li {
  opacity: 1;
}

.entity_list li img {
  display: block;
  max-width: 100%;
}

.entity_list.effect_in li.animate {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-animation: anim-move-up 0.3s ease forwards;
  animation: anim-move-up 0.3s ease forwards;
}

.entity_list > .pagination{
  bottom: 10px;
  color: white;
  position: absolute;
}

.event_tags{
  margin: 5px;
}

.event_tags > .cap_button{
  margin: 2px auto 2px auto;
}

.event_time{
  font-size: 11px;
  margin: 5px 0 0 0;
  text-align: center;
}

.event_title{
  color: black;
  display: inline-block;
  font-size: 18px;
  margin: 5px auto 0 auto;
  /*max-width: 390px;*/
  text-align: center;
  text-decoration: none;
}

.event_venue_name{
  font-size: 13px;
  margin: -2px 0 10px 0;
  text-transform: uppercase;
  /*max-width: 370px;*/
}

.event_page > .event_header {
  max-width: 430px;
}

.event_page > .event_header > .event_title{
  font-size: 24px;
  margin-top: 10px;
  text-align: left;
}

.event_page > .event_header > .event_tags{
  margin: 0 10px 0 0;
}

.event_page > .event_header > .event_title > .event_name{
  margin: 0px 5px 5px 0;
}

.event_page > .event_header > .event_title > .event_venue_name{
  margin-left: 3px;
  margin-bottom: 5px;
}


.event_links.page > .event_link {
  margin-left: 0px;
}

.event_links {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.event_links > a {
  font-size: 12px;
  margin: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px;
  text-align: left;
}

.events_page{
  background-color: white;
}

.explore{
  text-align: center;
}

.float_container{
  overflow: auto;
}

.float_container > .float_center{
  float: right;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
}

.float_child{
  left: 50%;
  position: relative;
}

.hide{
  display: none;
}

.event_link {
  display: inline-block;
  float: left;
  /*min-width: 100px;*/
}

.event_link > .icon {
  float: left;
  background-position: center center;
  background-size: auto 32px;
  background-repeat: no-repeat; 
  width: 30px;
  height: 30px;
  text-align: center;
  /*margin-right: 7px;*/
}

.event_link > .icon > svg {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}

.event_link > .rating {
  text-decoration: none;
  margin-left: 7px;
  margin-right: 10px;
}

/*.icon.event_users_count{
  float: left;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 38px;
  height: 38px;
  margin: 0 5px 0 0;
  border-radius: 19px;
}*/

.icon.google {background: url(/static/icons/svg/google.svg) no-repeat; }
.icon.yelp { background: url(/static/icons/svg/yelp.svg) no-repeat; }
.icon.user { background: url(/static/icons/svg/user.svg) no-repeat; }
.icon.search { background: url(/static/icons/svg/search.svg) no-repeat; }

.left{
  float: left;
}

#main{
  position: absolute;
  width: 100%;
  z-index: 1;
}

#main_spinner{
  pointer-events: none;
  position: fixed;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  z-index: 100;
}

.pagination{
  margin: 10px 0 10px 0;
}

.pagination_link{
  margin: 0 5px 0 5px;
}

.right{
  float: right;
}

.round_button{
  background-color: white;
  border: 1px solid var(--link-color);
  border-radius: 20px;
  display: inline-block;
  fill: var(--link-color);
  height: 36px;
  width: 36px;
}
.round_button:hover{
  background-color: var(--link-color);
  color: white;
  fill: white;
  transition: 0.3s;
}

.round_button.selected{
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: white;
  fill: white;
}

.round_button > svg {
  margin-top: 10px;
  width: 16px;
}

#scroll_top{
  border: 0px;
  border-radius: 24px;
  bottom: 15px;
  cursor: pointer;
  display: none;
  font-size: 30px;
  height: 40px;
  opacity: 1;
  padding: 6px 0 1px 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 48px;
  z-index: 10;
}

.spinner {
  font-size: 10px;
  text-align: center;
}

.spinner > div {
  background-color: black;
  display: inline-block;
  height: 70px;
  margin: 0 2px 0 2px;
  width: 15px;

  -webkit-animation: anim-stretchdelay 1.2s infinite ease-in-out;
  animation: anim-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect3 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.title{
  color: black;
  font-family: Rubik,sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/********************************/

.user_page{
  margin: 20px 0px 10px 0;
}

.user_profile{
  margin: 5px 10px 10px 10px;
}

.user_profile > .nav_link_get {
  float: left;
  margin: 0 15px 0 0;
}

.user_profile > .user_profile_data {
  float: left;
}

.user_profile > .user_profile_data > .user_page_name {
  float: left;
}

/********************************/
.user_page > .user_profile{
  background: none;
  box-shadow: none;
  width: 100%;
  margin: auto;
  overflow: none;
  padding: 0px;
  text-align: center;
}

.user_page > .user_profile > .nav_link_get{
  float: none;
}

.user_page > .user_profile > .nav_link_get > .user_profile_img{
  border-radius: 150px;
  float: none;
  width: 150px;
  height: 150px;
}

.user_page > .user_profile > .user_profile_data{
  float: none;
  font-size: 14px;
  margin: 10px 0 0 0;
}

.user_page > .user_profile > .user_profile_data > .user_page_name{
  float: none;
}

.user_page > .user_profile > .user_profile_data > .user_page_choices{
  float: none;
  text-align: center;
}

.user_page > .user_profile > .user_profile_data > .user_page_choices > .cap_button{
  font-size: 14px;
}

.user_page > .user_profile > .user_profile_data > .user_page_counts{
  margin: 5px 0 0 0;
}

.user_page > .user_profile > .user_profile_data > .user_page_counts > .user_page_count{
  float: none;
  display: inline-block;
}

/********************************/

.user_page_choice{
  margin: 0 10px 0 0;
}

.user_page_choices{
  float: left;
  margin: 12px 0 0 0;
}

.user_page_name{
  font-weight: bold;
}

.user_page_counts{
  margin: 17px 0 0 0;
}

.user_page_counts > .user_page_count{
  float: left;
  margin: 0 8px 0 0;
}

.user_profile{
  background-color: white;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  width: 320px;
}

.user_profile_data{
  font-size: 11px;
  margin: 0 0 0 0;
}

/********************************/

.app_panel{
  position: absolute;
  background-color: white;
  display: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
  z-index: 20;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#app_panel{
  text-align: left;
}

#user_panel{
  text-align: right;
}

.app_panel_contents{
  margin: 20px 10px 30px 10px;
}

.app_panel_contents > a{
  display: block;
  padding: 5px 10px 5px 10px;
}

.app_panel_contents > a:hover{
  color: white;
  background-color: var(--link-color);
  border-radius: 10px;
}

.user_profile_img{
  border-radius: 34px;
  height: 68px;
  width: 68px;
}

.profile_img_placeholder{
  background: url(/static/icons/svg/user.svg) no-repeat;
  background-color: var(--neutral-color);
  background-position: center center;
  background-size: auto 20px;
  background-repeat: no-repeat;
}

@media(max-width: 700px), (max-height: 420px){
  .widescreen_only{
    display: none;
  }

  .smallscreen_only{
    display: inherit;
  }

  .app_background{
    display: none;
  }

  .app_search > .search_field{
    font-size: 14px;
  }

  .event_card > .event_header > .event_title > .event_name{
    font-size: 18px;
  }

  .event.event_page{
    top: 0px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    min-width: auto;
    max-width: inherit;
    padding: 0px;
    position: relative;
    text-align: center;
  }

  .accolade_icon{
    background-size: auto 40px;
    height: 40px;
    width: 40px;
  }

  .event_container > .event_accolades > .accolade {
    color: black;
    fill: black;
    -webkit-filter: none;
    filter: none;
  }

  .event_container > .event_accolades > .accolade > .accolade_icon {
    background-color: inherit;
  }

  .event_container > .event_accolades > .accolade > .accolade_name {
    background-color: inherit;
    font-size: 12px;
    margin: 4px 5px 2px 5px;
  }

  .event_page > .event_header > .event_title{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .event_page > .event_header > .event_tags{
    margin: 0 5px 0 5px;
  }

  .event.event_page > .event_header > .event_title > .event_venue_name{
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .event_page > .event_img_wrapper{
    background: none;
    float: none;
    margin: 0px;
    min-height: 0px;
    text-align: center;
  }

  .event_page > .event_img_wrapper{
    display: block;
    float: none;
  }

  .event_page > .event_img_wrapper > .event_img{
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: none;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .event_section.event_links_section{
    text-align: center;
    padding-top: 0px;
    margin: 0px;
  }
}