body{
  font-family: Roboto,sans-serif;
  min-width: 480px;
}

a{
  color: #FF0000;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

img{
  border: 0px;
  color: #DEDEDE;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.box_shadow{
  box-shadow: 2px 2px 10px #DEDEDE;
}

.cap_button{
  border: 1px solid red;
  border-radius: 20px;
  font-size: 12px;
  height: 20px;
  padding: 5px 8px 5px 8px;
}
.cap_button:hover{
  background-color: red;
  color: white;
}

.cap_selected{
  background-color: red;
  color: white;
}

.clearfix {
  display: inline-block;
}

.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.float_center{
  float: right;
  position: relative;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}

.float_child{
  position: relative;
  left: 50%;
}

.float_container{
  overflow: auto;
}

.hide{
  display: none;
}

.left{
  float: left;
}

.link_img{
  cursor: pointer;
  text-decoration: none;
}

.pagination{
  margin: 10px 0 10px 0;
}

.pagination_link{
  margin: 0 5px 0 5px;
}

.right{
  float: right;
}

.app_header{
  overflow: auto;
  margin: 0 0 20px 0;
}

.app_login{
  float: right;
}

.app_login_name{
  font-size: 14px;
  margin: 16px 0 0 0;
}

.app_login_img{
  margin: 0 0 0 10px;
}

.app_nav{
  margin: 5px 0 10px 0;
}

.app_nav_link{
  float: left;
  font-size: 14px;
  margin: 16px 10px 0 0;
}

.app_title{
  color: black;
  float: left;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 10px 0 10px;
  text-decoration: none;
}

.event{
  padding: 5px 10px 15px 10px;
  text-align: center;
}

.event_card{
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  float: left;
  margin: 0 10px 30px 10px;
  text-align: center;
  width: 430px;
  height: 480px;
}
/*
@media (max-width: 100px){
  .event_card{ width: 32%; }
}

@media (max-width: 200px){
  .event_card{ width: 48%; }
}

@media (max-width: 300px){
  .event_card{ width: 100%; }
}
*/
.event_address{
  font-size: 15px;
  margin: 5px 0 0px 0;
  text-align: center;
}

.event_choice{
  margin: 0 5px 0 5px;
}

.event_choices{
  margin: 15px 0 15px 0;
}

.event_description{
  font-size: 14px;
  text-align: left;
  text-indent: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.event_img{
  background-color: #DEDEDE;
  border-radius: 4px;
  width: 400px;
  height: 200px;
}

.event_img_placeholder{
  margin: 5px 0 10px 0;
}

.events_none{
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  color: #BEBEBE;
  margin: 50px 30px 50px 30px;
  padding: 100px 0 100px 0;
  text-align: center;
}

.event_paid{
  color: white;
  cursor: default;
  background-color: red;
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 0 0 5px;
  padding: 2px 4px 2px 4px;
  text-transform: uppercase;
}

.event_time{
  font-size: 13px;
  margin: 5px 0 0 0;
}

.event_title{
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin: 15px 10px 0 10px;
  min-height: 45px;
  text-decoration: none;
  text-transform: none;
}

.event_users{
  margin: 20px 0 0 0;
}

.event_users_count{
  border: 1px solid #BEBEBE;
  border-radius: 20px;
  color: #BEBEBE;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: none;
  font-size: 12px;
  height: 26px;
  margin: 2px 3px 2px 3px;
  padding: 12px 0 0 0;
  text-align: center;
  width: 38px;
}

.event_venue{
  overflow: auto;
}

.event_venue_name{
  float: left;
  font-size: 16px;
  font-weight: bold;
}

.placeholder_profile_img{
  background-color: #DEDEDE;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.user_feed_choice{
  margin: 0 5px 0 5px;
}

.user_feed_choices{
  margin: 12px 0 0 0;
}

.user_feed{
  margin: 20px 0px 10px 0;
}

.user_feed_profile{
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin: 0 10px 30px 10px;
  padding: 15px 15px 30px 15px;
  width: 300px;
}

.user_feed_profile_data{
  font-size: 14px;
  margin: 0 0 0 0;
}

.user_feed_profile_img{
  margin: 0 15px 0 0;
}

.user_profile_img{
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.user_profile_mini_img{
  border-radius: 20px;
  display: inline-block;
  float: left;
  margin: 2px 3px 2px 3px;
  width: 40px;
}