@-webkit-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeIn {
  from{ opacity: 0; }
  to{ opacity: 1; }
}

@-webkit-keyframes moveUp {
  from{}
  to{
      -webkit-transform: translateY(0);
      opacity: 1;
  }
}

@keyframes moveUp {
  from{}
  to{
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

a{
  color: #FF0000;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

body{
  font-family: Roboto,sans-serif;
  min-width: 480px;
}

div{
  text-transform: uppercase;
}

img{
  border: 0px;
  color: #DEDEDE;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

span{
  text-transform: uppercase;
}

.anim_fade_in{
  -webkit-animation: fadeIn 0.6s ease forwards;
  animation: fadeIn 0.6s ease forwards;  
}

.app_header{
  overflow: auto;
  margin: 0 0 20px 0;
}

.app_login{
  float: right;
}

.app_login_name{
  font-size: 12px;
  margin: 18px 0 0 0;
}

.app_login_img{
  margin: 0 0 0 10px;
}

.app_nav{
  margin: 5px 0 10px 0;
}

.app_nav_link{
  float: left;
  font-size: 12px;
  margin: 18px 10px 0 0;
}

.app_title{
  color: black;
  float: left;
  font-size: 22px;
  margin: 10px 10px 0 10px;
  text-decoration: none;
}

.box_shadow{
  box-shadow: 2px 2px 10px #DEDEDE;
}

.cap_button{
  border: 1px solid red;
  border-radius: 20px;
  font-size: 12px;
  height: 20px;
  padding: 5px 8px 5px 8px;
}
.cap_button:hover{
  background-color: red;
  color: white;
  transition: 0.3s;
}

.cap_selected{
  background-color: red;
  color: white;
}

.clearfix {
  display: inline-block;
}

.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.event{
  background-color: white;
  position: relative;
  text-align: center;
  top: -25px;
  z-index: 1;
}

.event_free{
  top: 0px;
  margin-bottom: 25px;
}

.event_card{
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin: 0 10px 30px 10px;
  text-align: center;
  width: 400px;
}

.event_address{
  font-size: 12px;
  margin: 5px 0 0px 0;
  text-align: center;
}

.event_body{}

.event_choice{
  margin: 0 2px 0 2px;
}

.event_choices{
  margin: 8px 0 20px 0;
}

.event_description{
  font-size: 13px;
  text-align: left;
  text-indent: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-transform: none;
}

.event_header{
  color: black;
  padding: 0 15px 8px 15px;
}

.event_img{
  background-color: #DEDEDE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 200px;
  position: relative;
  top: 0px;
  width: 400px;
  z-index: 1;
}

.event_img_wrapper{
  min-height: 40px;
}

.event_list {
  list-style: none;
}

.event_list li {
  display: block;
  float: left;
  max-width: 100%;
  opacity: 0;
}

.event_list li.shown,
.no-js .event_list li,
.no-cssanimations .event_list li {
  opacity: 1;
}

.event_list li img {
  display: block;
  max-width: 100%;
}

.event_list.effect_in li.animate {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-animation: moveUp 0.5s ease forwards;
  animation: moveUp 0.5s ease forwards;
}

.events_none{
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  color: #BEBEBE;
  margin: 50px 30px 50px 30px;
  padding: 100px 0 100px 0;
  text-align: center;
}

.event_paid{
  color: white;
  cursor: default;
  display: inline-block;
  background-color: red;
  border-radius: 1px;
  float: left;
  font-size: 10px;
  margin: 8px 0 0 6px;
  padding: 2px 4px 2px 4px;
  position: relative;
  top: 20px;
  z-index: 2;
}

.event_time{
  font-size: 12px;
  margin: 5px 0 0 0;
}

.event_title{
  color: black;
  display: inline-block;
  font-size: 15px;
  margin: 8px 0 0 0;
  text-align: center;
  text-decoration: none;
}

.event_users{
  margin: 10px 0 0 0;
}

.event_users_count{
  border: 1px solid #BEBEBE;
  border-radius: 17px;
  color: #BEBEBE;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 12px;  
  height: 34px;
  margin: 2px 3px 2px 3px;
  text-align: center;
  width: 34px;
}

.event_users_count_number{
  position: relative;
  top: 10px;
}

.event_venue_name{
  font-size: 13px;
  margin: 5px 0 0 0;
}

.float_center{
  float: right;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
}

.float_child{
  left: 50%;
  position: relative;
}

.float_container{
  overflow: auto;
}

.hide{
  display: none;
}

.left{
  float: left;
}

.link_img{
  cursor: pointer;
  text-decoration: none;
}

.pagination{
  margin: 10px 0 10px 0;
}

.pagination_link{
  margin: 0 5px 0 5px;
}

.right{
  float: right;
}

.user_feed_choice{
  margin: 0 5px 0 5px;
}

.user_feed_choices{
  margin: 12px 0 0 0;
}

.user_feed{
  margin: 20px 0px 10px 0;
}

.user_feed_profile{
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin: 0 10px 30px 10px;
  padding: 15px 15px 30px 15px;
  width: 300px;
}

.user_feed_profile_data{
  font-size: 12px;
  margin: 0 0 0 0;
}

.user_feed_profile_img{
  margin: 0 15px 0 0;
}

.user_profile_img{
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.user_profile_img_placeholder{
  background-color: #DEDEDE;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.user_profile_mini_img{
  border-radius: 18px;
  display: inline-block;
  float: left;
  margin: 2px 3px 2px 3px;
  width: 36px;
}