@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body{
	font-family: Roboto,sans-serif;
}

.app_header{
	overflow: auto;
}

.app_login{
	float: right;
	margin: 10px 0 0 0;
}

.app_nav{
	margin: 5px 0 10px 0;
}

.app_title{
	float: left;
}

.event{
	padding: 5px 10px 15px 10px;
	text-align: center;
}

.event_list{
	border: 1px solid black;
	float: left;
	margin: 0 10px 50px 10px;
	padding: 5px 10px 15px 10px;
	text-align: center;
	width: 480px;
}

.event_address{
	margin: 5px 0 0px 0;
	text-align: center;
}

.event_choice{
	margin: 0 10px 0 10px;
}

.event_choices{
	margin: 10px 0 0 0;
}

.event_description{
	text-align: left;
}

.event_img{
	/*max-width: 480px;*/
}

.event_time{
	font-size: 18px;
	margin: 10px 0 0 0;
}

.event_title{
	font-size: 24px;
	font-weight: bold;
}

.event_users{
	margin:10px 0 0 0;
}

.event_venue{
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

.user_profile_img{
	border-radius: 25px;
	width: 50px;
}