{% set section_name=section_name or (vargs.section_name if vargs else None) %}
{% set section_key=section_key or (vargs.section_key if vargs else None) %}
{% set section_url=section_url or (vargs.section_url if vargs else None) %}
{% set ct=ct or (vargs.ct if vargs else None) %}
{% set selected=selected or (vargs.selected if vargs else None) %}

<a class='nav_link_get' href='{{ section_url }}'>
  {% if selected %}
    <script>
      Application.setAppBackground('/static/img/backdrop/{{ section_key }}.jpg');
    </script>
  {% endif %}

  <div class='box_outline event_section {{ "selected" if selected else "" }}'>
    <img class='event_section_img' src='/static/img/section/{{ section_key }}.jpg'>
      <div class='event_section_title'>{{ section_name }}</div>
    </img>
  </div>
</a>