{% set is_me=is_me or (vargs.is_me if vargs else None) %}
{% set events=events or (vargs.events if vargs else None) %}

{% if events%}
  {% for event in events %}
    <li id="event_card_{{ event.event_id }}" class='box_outline event_card'>
      {% with vargs=vargs, event=event, card=True %}
        {% include "_event.html"%}
      {% endwith %}
    </li>
  {% endfor %}
  {% with vargs=vargs %}
    {% include "_events_pagination.html" %}
  {% endwith %}
{% else %}
  {% include "_empty.html" %}
{% endif %}