<div id='events_list'>
  <div class='pagination'>
    <div class='float_container'>
      <div class='float_center'><div class='float_child'>
        {% if prev_page_url %}<a class='pagination_link' href="javascript:get_component('#main', '{{ prev_page_url }}')">Prev</a>{% endif %}
        {% if next_page_url %}<a class='pagination_link' href="javascript:get_component('#main', '{{ next_page_url }}')">Next</a>{% endif %}
      </div></div>
    </div>
  </div>
  <div class='float_container'>
    {% for event in events %}
      <div class='event_card'>
        {% with event=event, card=True %}
          {% include "_event.html"%}
        {% endwith %}
      </div>
    {% else %}
      <div>
        No Events
      </div>
    {% endfor %}
  </div>
  <div class='pagination'>
    <div class='float_container'>
      <div class='float_center'><div class='float_child'>
        {% if prev_page_url %}<a class='pagination_link' href="javascript:get_component('#main', '{{ prev_page_url }}')">Prev</a>{% endif %}
        {% if next_page_url %}<a class='pagination_link' href="javascript:get_component('#main', '{{ next_page_url }}')">Next</a>{% endif %}
      </div></div>
    </div>
  </div>
</div>