{% set events=events or (vargs.events if vargs else None) %}
{% set cities=cities or (vargs.cities if vargs else None) %}
{% set sections=sections or (vargs.sections if vargs else None) %}

<div class='app_page'>
  <div class='event_sections float_container'>
    <div class='float_center'>
      {% for section in sections %}
        {% with vargs=section %}
          {% include "_event_section.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>

  {% with url=request.url %}
    {% include "_search_bar.html" %}
  {% endwith %}

  <div class='event_cities'>
    {% for city in cities %}
      {% if city.selected %}
        <a class='cap_button cap_selected nav_link_get' href='{{ remove_url_params(request.url, remove={"cities": city.city_name}) }}'>{{ city.city_name }} {{ city.ct }} X</a>
      {% else %}
        <a class='cap_button nav_link_get' href='{{ add_url_params(request.url, merge={"cities": city.city_name}) }}'>{{ city.city_name }} {{ city.ct }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <ul id='event_list' class='event_list effect_in'>
    {% with vargs=vargs %}
      {% include "_events_list.html" %}
    {% endwith %}
  </ul>
</div>