{% set url=url or (vargs.url if vargs else request.url) %}
{% set placeholder=placeholder or (vargs.placeholder if vargs else '') %}

<form class='app_search nav_link_form' action='{{ url }}' method='get'>
  <a class='button_back'>{% include "icon/_back.html"%}</a>
  <input type='text' class='box_outline search_field' name='q' placeholder='{{ placeholder }}'>
    <input type='submit' class='nav_link_form icon search' value=''></input>
  </input>
  {% if request.args.get('q') %}
    <a
      class='right cap_button cap_close nav_link_get'
      href='{{ filter_url_params(url, exclude=["q"]) }}'
    >
      {{ request.args.get('q') }}
    </a>
  {% endif %}
</form>