{% set app_name="GoWithMe" %}

<!doctype html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"></link>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='_animation.css', v=(range(1, 100000) | random)) }}"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='_fonts.css', v=(range(1, 100000) | random)) }}"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=(range(1, 100000) | random)) }}"></link>
  <script type='application/javascript' src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/classie.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/AnimOnScroll.js') }}"></script>
  <script type='application/javascript' src="{{ url_for('static', filename='js/application.js', v=(range(1, 100000) | random)) }}"></script>
  {% block scripts %}{% endblock %}
</head>
<title>{% block title %}{{ app_name }}{% endblock %}</title>
<div class='app_background box_outline'>
  <!-- <div class='app_background_inset box_outline'></div> -->
</div>
<div id='app_panel_overlay'>
  <a class='nav_link_get button_close' onclick="Application.overlayClose()">X</a>
  <div id='app_panel_overlay_main' class='box_outine'></div>
  <div id='app_panel_blocker'></div>
</div>
<section class="content">
	<header class='app_header'>
    <a class='app_title  nav_link_get' href="{{ url_for('events') }}">
      {% block header %}{{ app_name }}{% endblock %}
    </a>
    <div class='app_login'>
			{% if session.user %}
        <a class="right toggle_user_panel">
          {% if session.user.image_url %}
            <img class="app_login_img user_profile_img" src="{{ session.user.image_url }}"></img>
          {% else %}
            <img class="app_login_img user_profile_img_placeholder"></img>
          {% endif %}
        </a>
        <a class="app_nav_link nav_link_get right" href="{{ url_for('home') }}">{{ session.user.username }}</a>
			{% else %}
        <a href="{{ url_for('oauth2.authorize') }}">
          <img class="app_login_img right user_profile_img_placeholder"></img>
        </a>
        <a class="app_nav_link nav_link_get right" href="{{ url_for('oauth2.authorize') }}">Sign In</a>
			{% endif %}
    </div>
	</header>
  {% if session.user %}
    <div id='user_panel'>
      <a class="nav_link_get" href="{{ url_for('events') }}">Explore</a>
      <a class="nav_link_get" href="{{ url_for('home') }}">Home</a>
      <a class='nav_link_get' href="{{ url_for('following') }}">Following</a>
      <a class='nav_link_get' href="{{ url_for('followers') }}">Followers</a>
      <a class='nav_link_get' href="{{ url_for('blocking') }}">Blocking</a>
      <a href="{{ url_for('logout') }}">Sign out</a>
    </div>
  {% endif %}
  <div id='main'>
  	{% block content %}{% endblock %}
  </div>
</section>
</html>

<script>
    Application.init({
      'urls': {
        'auth': "{{ url_for('oauth2.authorize') }}"
      }
    });
  </script>