{% extends 'base.html' %}

{% block content %}
	<div class='entry'>
		<div>
      <h1>{{ event.name }}</h1>
      {% if event.img_url %}<img class="entry_img" src="{{ event.img_url }}"></img>{% endif %}
      <div>{{ event.is_free }}</div>
      {% if event.venue_name %}<h2>{{ event.venue_name }}</h2>{% endif %}
      <h3>{{ event.display_time }}</h3>
    </div>
    <div class="entry_address">
      <div>{{ event.address[0] }}</div>
      <div>{{ event.address[1] }}</div>
    </div>
	  <p class="entry_description">{{ event.description }}</p>
    <div class='entry_choics'>
      {%if event.current_user_interested %} 
        <a class='entry_choice' href="{{ url_for('event_update', event_id=event.event_id, choice='skip') }}">Skip</a>
      {% else %}
        <span>Skip</span>
      {% endif %}
      {%if not event.current_user_interested %} 
        <a class='entry_choice' href="{{ url_for('event_update', event_id=event.event_id, choice='yes') }}">Interested</a>
      {% else %}
        <span>Interested</span>
      {% endif %}
    </div>
	</div>
{% endblock %}