{% extends 'base.html' %}

{% block content %}
	{% for event in events %}
		<div class='event_list'>
			<div>
        <div class='event_title'>{{ event.name }}</div>
        <a href="{{ url_for('event', event_id=event.event_id) }}">
          {% if event.img_url %}
            <img class="event_img" src="{{ event.img_url }}"></img>
          {% endif %}
        </a>
        <div class='event_venue'>
          {% if event.venue_name %}{{ event.venue_name }}{% endif %}
          {% if event.is_free %}(Free){% else %}(Paid){% endif %}
        </div>
        
        <div class="event_time">{{ event.display_time }}</div>
      </div>
      <div class="event_address">
        <div>{{ event.display_city }}</div>
      </div>
      <div class='event_choices'>
        {%if not event.current_user_event or event.current_user_interested %} 
          <a class='event_choice' href="{{ url_for('event_update', event_id=event.event_id, choice='skip') }}">Skip</a>
        {% else %}
          <span>Skip</span>
        {% endif %}
        {%if not event.current_user_interested %} 
          <a class='event_choice' href="{{ url_for('event_update', event_id=event.event_id, choice='yes') }}">Interested</a>
        {% else %}
          <span>Interested</span>
        {% endif %}
      </div>
      <div class='event_users'>
        {% for user_event in event.user_events %}
          {% if user_event.interested %}
            <img class="user_profile_img" title="{{ user_event.user.username}}" src="{{ user_event.user.image_url }}"></img>
          {% endif %}
        {% endfor %}
      </div>
		</div>
  {% endfor %}
{% endblock %}