<!doctype html>
	<title>FriendshipBot</title>
	<body>
		{% for event in events %}
    		<div style='margin-bottom: 30px; max-width:500px;'>
    			<div style="text-align: center;">
                    <h1>{{ event.name }}</h1>
                    <h2>{{ event.venue_name }}</h2>
                    <img src="{{ event.img_url }}" style="max-width:1024px"></img>
                    <h3>{{ event.display_time[0]+" "+event.display_time[1] }}</h3>
                </div>
                <div style="text-align: center; margin-bottom: 30px;">              
                    <div>{{ event.address[0] }}</div>
                    <div>{{ event.address[1] }}</div>
                </div>
    			<p>{{ event.description }}</p>
    		</div>
		{% endfor %}
	</body>
</html>