{% set user_list=user_list or (vargs.user_list if vargs else None) %}

<div class='app_section user_list'>
  {% if user_list%}
    <div class='body'>
      <div class='float_container'>
        <div class='float_center'>
          {% for user in user_list %}
            <div class='float_child left'>
              <div class='user_card'>
                {% with vargs=vargs, user=user %}
                  {% include "users/_user_card.html" %}
                {% endwith %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    {% include "_empty.html" %}
  {% endif %}
</div>