{% set users=users or (vargs.users if vargs else None) %}

<div class='app_page'>
  {% with url=request.url %}{% include "_search_bar.html" %}{% endwith %}
  {% with vargs=vargs, chips_key='users' %}{% include "_chips.html" %}{% endwith %}

  {% for user_data in users %}
    {% set relationship = user_data['relationship_type'] %}
    {% set user_list = user_data['users'] %}
    {% with vargs=vargs, relationship=relationship, user_list=user_list %}
      {% include "users/_users_list.html" %}
    {% endwith %}
  {% endfor %}
</div>