{% set current_user=user or (vargs.current_user if vargs else None) %}
{% set user=user or (vargs.user if vargs else None) %}
{% set callback=callback or (vargs.callback if vargs else None) %}

{% set event_count=user.card_event_count %}
{% set follower_count=user.card_follower_count %}
{% set is_following=user.card_is_following %}
{% set is_follower=user.card_is_follower %}
{% set is_blocked=user.card_is_blocked %}
{% set is_suggested=user.card_is_suggested %}

<div id="{{ relationship_type }}_user_{{ user.user_id }}" class='entity_card user_profile clearfix box_outline'>
  <a class='nav_link_get' href="{{ url_for('user', identifier=user.username, selected='c', interested='interested') }}">
    <img class="user_profile_img" src="{{ user.image_url }}"></img>
  </a>
  <div class='user_profile_data'>
    {% if is_suggested %}
      {% set username="({}) {}".format("Suggested", user.username) %}
    {% else %}
      {% set username=user.username %}
    {% endif %}
    <div class='user_page_name'>{{ username }}</div>
    <div class='user_page_counts'>
      <div class='user_page_count'>
        {{ pluralize(event_count, 'Event') }}
      </div>
      <div class='user_page_count'>
        {{ pluralize(follower_count, 'Follower') }}
      </div>
    </div>

    <div class='user_page_choices'>
      {% if is_blocked %}
        <a
          class='cap_button selected nav_link_post user_page_choice'
          href="{{ url_for('user_update', identifier=user.username) }}"
          data='{"target": "#main", "action": "block", "active": false, "cb": "{{ callback }}"}'
        >Unblock</a>
      {% else %}
        {% if is_following %}
          <a
            class='cap_button selected nav_link_post user_page_choice'
            href="{{ url_for('user_update', identifier=user.username) }}"
            data='{"target": "#main", "action": "follow", "active": false, "cb": "{{ callback }}"}'
          >Unfollow</a>
        {% else %}
          <a
            class='cap_button nav_link_post user_page_choice'
            href="{{ url_for('user_update', identifier=user.username) }}"
            data='{"target": "#main", "action": "follow", "active": true, "cb": "{{ callback }}"}'
          >Follow</a>
        {% endif %}
        <a
          class='cap_button nav_link_post user_page_choice'
          href="{{ url_for('user_update', identifier=user.username) }}"
          data='{"target": "#main", "action": "block", "active": true, "cb": "{{ callback }}"}'
        >Block</a>
      {% endif %}
    </div>
  </div>
</div>