{% set callback=callback or (vargs.callback if vargs else request.path) %}
{% set current_user=user or (vargs.current_user if vargs else None) %}
{% set user=user or (vargs.user if vargs else None) %}
{% set user_elem_id_modifier=user_elem_id_modifier or (vargs.user_elem_id_modifier if vargs else None) %}

<div id="{{ user_elem_id_modifier }}_user_{{ user.user_id }}" class='box_outline float_container user_feed_profile'>
  <a class='nav_link_get' href="{{ url_for('user', identifier=user.username) }}">
    <img class="left user_feed_profile_img user_profile_img" src="{{ user.image_url }}"></img>
  </a>
  <div class='left user_feed_profile_data'>
    <div class='left'>{{ user.username }} ({{ user.display_name }})</div>
    <div class='user_feed_counts'>
      <div class='user_feed_count'>
        {{ user.active_user_events_count }} {{ 'Event' if user.active_user_events_count == 1 else 'Events' }}
      </div>
      <div class='user_feed_count'>
        {{ user.follower_users_count }} {{ 'Follower' if user.follower_users_count == 1 else 'Followers' }}
      </div>
    </div>
    <div class='user_feed_choices'>
      {% if user.is_blocked %}
        <a
          class='cap_button selected nav_link_post user_feed_choice'
          href="{{ url_for('user_action', identifier=user.username) }}"
          data='{"target": "#main", "action": "block", "active": false, "cb": "{{ callback }}"}'
        >Block</a>
      {% else %}
        {% if user.is_followed %}
          <a
            class='cap_button selected nav_link_post user_feed_choice'
            href="{{ url_for('user_action', identifier=user.username) }}"
            data='{"target": "#main", "action": "follow", "active": false, "cb": "{{ callback }}"}'
          >Unfollow</a>
        {% else %}
          <a
            class='cap_button nav_link_post user_feed_choice'
            href="{{ url_for('user_action', identifier=user.username) }}"
            data='{"target": "#main", "action": "follow", "active": true, "cb": "{{ callback }}"}'
          >Follow</a>
          <a
            class='cap_button nav_link_post user_feed_choice'
            href="{{ url_for('user_action', identifier=user.username) }}"
            data='{"target": "#main", "action": "block", "active": true, "cb": "{{ callback }}"}'
          >Block</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>