{% set relationship=relationship or (vargs.relationship if vargs else None) %}
{% set user_list=user_list or (vargs.user_list if vargs else None) %}

<div class='app_section user_list'>
  <div class='title'>{{relationship}}</div>
  <div class='body'>
    {% if user_list%}
      <div class='float_container'>
        <div class='float_center'>
          {% for user in user_list %}
            <div class='float_child left'>
              <div class='user_card'>
                {% with vargs=vargs, user=user, relationship=relationship, callback='users' %}
                  {% include "users/_user_card.html" %}
                {% endwith %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      {% include "_empty.html" %}
    {% endif %}
  </div>
</div>