{% set event=event or (vargs.event if vargs else None) %}
{% set card=card or (vargs.card if vargs else None) %}

<div class='event_links {{"card" if card else "page"}} clearfix'>
  {% if event.urls %}
    {% for url_type, url in event.urls.items() %}
      <a class='event_link cap_button' target="_blank" href='{{url}}'>
        <div class='icon {{url_type.lower()}}'></div>
        {% set rating = get_from(event.details, [url_type, 'rating']) %}
        {% set review_ct = get_from(event.details, [url_type, 'review_count']) %}
        {% if rating %}
          <div class="rating clearfix" >
            ☆ {{rating}}
            <div>{{round_ct(review_ct)}}</div>
          </div>
        {% endif %}
      </a>
    {% endfor %}
  {% endif %}
  {% if event.website%}
    <a class='event_link cap_button', target='_blank', href='{{event.website}}'>
      <div class='icon website'>{% include "icon/_website.html" %}</div>
    </a>
  {% endif %}
</div>