{% set event=event or (vargs.event if vargs else None) %}
{% set card=card or (vargs.card if vargs else None) %}

<div class='event_links {{"card" if card else "page"}} clearfix'>
  {% if event.urls %}
    {% for url_type, url in event.urls.items() %}
      <a class='event_link cap_button' target="_blank" href='{{url}}'>
        <div class='icon {{url_type.lower()}}'></div>
        <div class="name clearfix" >{{url_type}}</div>
        {% set rating = get_from(event.details, ['rating', url_type, 'rating']) %}
        {% set review_ct = get_from(event.details, ['rating', url_type, 'review_count']) %}
        {% if rating %}
          <div class="rating">☆ {{rating}} | {{round_ct(review_ct*1000000)}}</div>
        {% endif %}
      </a>
    {% endfor %}
  {% endif %}
</div>