{% set card=card or (vargs.card if vargs else None) %}

<div class='event_tags'>
{% if card %}
  {% set chips=chips or (vargs.chips if vargs else None) %}
  {% set chip_types=[chips['categories'], chips['tags']] %}
  {% set event_chip_names=event.chip_names() %}

  {% for chip_data in chip_types %}
    {% for chip in chip_data.entries %}
      {% if chip.chip_name in event_chip_names %}
        {% set callback=update_url_params(request.url, toggle={chip_data.key: chip.chip_name}, remove={'q': chip.chip_name}, clear=["scroll","p"]) %}
        <a class='cap_button nav_link_get {{"selected" if chip.selected else ""}}' href='{{callback}}'>{{ chip.chip_name }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for tag_name in event.category_names() %}
    {% set callback=url_for('events', selected='c', c=tag_name) %}
    <a class='cap_button nav_link_get' href='{{callback}}' >{{ tag_name }}</a>
  {% endfor %}
  {% for tag_name in event.tag_names() %}
    {% set callback=url_for('events', selected='t', t=tag_name) %}
    <a class='cap_button nav_link_get' href='{{callback}}' >{{ tag_name }}</a>
  {% endfor %}
{% endif %}
</div>