{% set event=event %}
{% set card=card %}

{% set is_done = event.current_user_event and event.current_user_event.is_done %}
{% set is_go = event.current_user_event and event.current_user_event.is_go %}
{% set is_maybe = event.current_user_event and event.current_user_event.is_maybe %}
{% set is_skip = event.current_user_event and event.current_user_event.is_skip %}

<div class='event_choices {{ event_selected_class }}'>
  {% if is_done %}
    {% with icon="check", choice="done",  vargs=vargs%}{% include "events/button/_event_choice.html" %}{% endwith %}
  {% elif is_go %}
    {% with icon="heart", choice="go",    vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
    {% with icon="check", choice="done",  vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
  {% elif is_maybe %}
    {% with icon="plus",  choice="maybe", vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
    {% with icon="check", choice="done",  vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
  {% elif is_skip %}
    {% with icon="ex",    choice="skip",  vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
  {% else %}
    {% with icon="ex",    choice="skip",  vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
    {% with icon="plus",  choice="maybe", vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
    {% with icon="heart", choice="go",    vargs=vargs %}{% include "events/button/_event_choice.html" %}{% endwith %}
  {% endif %}
</div>