{% set is_me=is_me or (vargs.is_me if vargs else None) %}
{% set event=event or (vargs.event if vargs else None) %}
{% set card=card or (vargs.card if vargs else None) %}

{% set is_skip = event.current_user_event and event.current_user_event.is_skip %}
{% set is_selected = event.current_user_event and event.current_user_event.is_selected %}
{% set event_selected_class = "" if is_me else "event_skip" if is_skip else "event_selected" if (is_selected) else "" %}

<div id="event_{{ event.event_id }}" class='entity_card event_container'>
  <div class='event event_card box_outline {{ event_selected_class }}'>
    <a class='event_header nav_link_get' href="{{ url_for('event', event_id=event.event_id) }}">
      {% if not is_skip or is_me %}
        {% if event.img_url %}
          {% with event=event, card=card, vargs=vargs %}{% include "events/_event_accolades.html" %}{% endwith %}
          <div class='event_img_wrapper'>
            <img id="event_img_{{ event.event_id }}" class="event_img" onerror="Application.removeElem('#event_img_{{ event.event_id }}')" src="{{ event.img_url }}"></img>
          </div>
        {% else %}
          <!-- TODO Handle accolades when there is not image -->
        {% endif %}
      {% endif %}
      <div class='event_title'>
        <div class='event_name'>{{ event.display_name }}</div>
        {% if event.display_address %}<div class='event_venue_name'>{{ event.display_address }}</div>{% endif %}
      </div>
    </a>
    <div class='event_body'>
      {% with event=event, card=card, vargs=vargs %}{% include "events/_event_tags.html" %}{% endwith %}
      {% with event=event, card=card, vargs=vargs %}{% include "events/_event_choices.html" %}{% endwith %}
      {% if not is_skip %}
        {% with event=event, card=card, vargs=vargs %}{% include "events/_event_users.html" %}{% endwith %}
      {% endif%}
    </div>
  </div>
</div>