{% set event=event or (vargs.event if vargs else None) %}
{% set card=card or (vargs.card if vargs else None) %}

{% if not card and event.accolades %}
  <div class='divider smallscreen_only'></div>
{% endif %}

<div class='event_accolades {{"card" if card else "page"}}'>
  {% if event.accolades %}
    {% if card %}
      <div class='accolade clearfix'>
        <div class='accolade_icon'>
          {% include "icon/_accolade.html" %}
        </div>
      </div>
    {% else %}
      {% for accolade in event.accolades %}
        <div class="accolade clearfix">
          <div class='accolade_icon'>{% include "icon/_accolade.html" %}</div>
          <div class='accolade_name'>{{accolade}}</div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}
</div>